<h1>Create a Team and Heroes!</h1>
<form action='/team' method="POST">
    <fieldset>
      <li>
        <label>Team Name:</label>
        <input ... name="team[name]"/></li>
      <li>
        <label>Team Motto:</label>
        <input ... name="team[motto]" />
      </li><br>

      <h2>Hero 1</h2>
      <li>
        <label>Hero's Name:</label>
        <input ... id="hero_name_1" name="team[hero][][name]" />
      </li>
      <li>
        <label>Hero's Power:</label>
        <input ... id="hero_power_1" name="team[hero][][power]"/></li>
      <li>
        <label>Hero's Biography:</label>
        <input ... id="hero_biography_1" name="team[hero][][biography]" />
      </li><br>

      <h2>Hero 2</h2>
      <li>
        <label>Hero's Name:</label>
        <input ... id="hero_name_2" name="team[hero][][name]" />
      </li>
      <li>
        <label>Hero's Power:</label>
        <input ... id="hero_power_2" name="team[hero][][power]"/></li>
      <li>
        <label>Hero's Biography:</label>
        <input ... id="hero_biography_2" name="team[hero][][biography]" />
      </li><br>

      <h2>Hero 3</h2>
      <li>
        <label>Hero's Name:</label>
        <input ... id="hero_name_3" name="team[hero][][name]" />
      </li>
      <li>
        <label>Hero's Power:</label>
        <input ... id="hero_power_3" name="team[hero][][power]"/></li>
      <li>
        <label>Hero's Biography:</label>
        <input ... id="hero_biography_3" name="team[hero][][biography]" />
      </li><br>
    </fieldset>
  <input value="Submit" type="submit"/>
</form>
