<h1>Create a Team and Heroes!</h1>
<form action='/team' method="POST">
    <fieldset>
      <li>
        <label>Team Name:</label>
        <input ... name="team[name]"/></li>
      <li>
        <label>Team Motto:</label>
        <input ... name="team[motto]" />
      </li><br>

      <h2>Hero 1</h2>
      <li>
        <label>Hero's Name:</label>
        <input ... id="hero_name_1" name="team[hero][][name]" />
      </li>
      <li>
        <label>Pirate First Ship Name</label>
        <input ... id="ship_name_1" name="pirate[ships][][name]"/></li>
      <li>
        <label>Pirate First Ship Type</label>
        <input ... id="ship_type_1" name="pirate[ships][][type]" />
      </li>
      <li>
        <label>Pirate First Ship Booty</label>
        <input ... id="ship_booty_1" name="pirate[ships][][booty]" />
      </li>
      <li>
        <label>Pirate Second Ship Name</label>
        <input ... id="ship_name_2" name="pirate[ships][][name]"/></li>
      <li>
        <label>Pirate Second Ship Type</label>
        <input ... id="ship_type_2" name="pirate[ships][][type]" />
      </li>
      <li>
        <label>Pirate Second Ship Booty</label>
        <input ... id="ship_booty_2" name="pirate[ships][][booty]" />
      </li>
    </fieldset>
  <input value="Submit" type="submit"/>
</form>
